/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #000;
    font-family: "Gesta", "Arial";
    font-size: 15px;
    color: #8F8F90;
    color: #fff;
    background-image: url("grey_wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

h1 {
    font-size: 45px;
    font-family:Georgia, Serif;
    font-stretch: expanded;
    color: #FBE10C;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 18px;
    color: #fafafa;
    font-weight: normal;
    font-style:italic;
}

h3 {

}

a  {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #BFBF00;
    text-decoration: none;
    border-bottom: dotted 1px #BFBF00;
}


#page {
    width: 950px;
    margin: 0 auto;
}

#header {
    margin-top: 80px;
}

.content {
    padding: 10px;
}

#coming-box {
    border: 3px solid #b2b2b2;
    background-color: #FBE10C;
    background-color: #F9F382;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    padding: 16px;
    width: 300px;
    margin: 100px auto 0px;
    text-align: center;
    color: #999;
    color: #4C4849;
    box-shadow: 4px 4px 5px #ccc;
    -moz-box-shadow: 4px 4px 5px #ccc;
    -webkit-box-shadow: 4px 4px 5px #ccc;
    display: none;
}

#coming-box h3 {
    color: #999;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 20px;
}

#coming-box input.text {
    border: none;
    color: #333;
    height: 32px;
    width: 170px;
}

#coming-box input.btn {
    width: 32px;
    height: 32px;
    background-image: url("go-rtl.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    background-color: #fff;
}

#footer {
    border-top: solid 1px #666666;
    margin-top: 50px;
    margin-bottom:20px;
    clear: both;
    font-size: 11px;
    color: #cccccc;
    display: none;
}