<!DOCTYPE html>
<html>
<head>
  <title>MovieFlick</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--<%= javascript_include_tag "application" %>-->
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">
  <div class="header">
    <a href="/"><h1>MovieFlick</h1></a>
    <h2>to know where and what is worth to be seen</h2>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>


</body>
</html>
