<!DOCTYPE html>
<html>
<head>
  <title>MovieFlick</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">
  <div class="header">
    <h1><a href="/">MovieFlick</a></h1>
    <h2>to know where and what is worth to be seen</h2>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>


</body>
</html>
